aafigure==0.6
alabaster==0.7.11
annoy==1.13.0
appdirs==1.4.3
apptools==4.4.0
args==0.1.0
asn1crypto==0.22.0
astroid==1.1.1
atactk==0.1.6
avro==1.8.2
awesome-slugify==1.6.5
Babel==2.6.0
backports-abc==0.4
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
bcrypt==3.1.3
bd2k-python-lib==1.14a1.dev37
BeautifulSoup==3.2.1
beautifulsoup4==4.6.1
biased-stop-words==2017.7.13.0
BiBench==0.1
biom-format==1.3.1
biopython==1.64
bitarray==0.8.1
bleach==1.5.0
bob.spear==1.1.2
Bottleneck==0.7.0
bs4==0.0.1
bsddb3==6.2.1
burrito==0.9.1
burrito-fillings==0.1.1
bx-python==0.7.3
CacheControl==0.11.7
certifi==2017.4.17
cffi==1.11.5
cget==0.1.4
chardet==3.0.4
CIRCexplorer2==2.3.6
CITE-seq-Count==1.2
click==6.6
clint==0.5.1
clipper==0.2.0
cmd2==0.6.8
codacy-coverage==1.3.11
cogent==1.5.3
colorama==0.3.9
colored==1.3.93
ConfigArgParse==0.13.0
configobj==5.0.6
contextlib2==0.5.5
coverage==4.5.1
cryptography==2.3.1
cutadapt==1.14
cwltest==1.0.20170214185319
cwltool==1.0.20170413194156
cycler==0.10.0
Cython==0.27.2
cyvcf2==0.8.8
dask==0.10.0
decorator==4.3.0
deepTools==3.1.0
dill==0.2.5
dipy==0.13.0
Django==1.8.4
dnslib==0.9.7
docopt==0.6.1
docutils==0.11
easybuild==3.6.2
easybuild-easyblocks==3.6.2
easybuild-easyconfigs==3.6.2
easybuild-framework==3.6.2
emperor==0.9.51
enum34==1.0.4
envisage==4.7.0
et-xmlfile==1.0.1
export==0.1.2
Fabric==1.14.0
fastcluster==1.1.11
fcsparser==0.1.4
Flask==0.12.2
FlowCytometryTools==0.4.6
freetype-py==0.4.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.13.1
futures==3.1.1
gdata==2.0.18
gdc-client==1.4.0
genmod==1.7.9
GoreUtilities==0.5.0
h5py==2.8.0
hashlib==20081119
html5lib==0.9999999
HTSeq==0.6.1
idna==2.5
igraph==0.1.11
imagesize==1.0.0
interval-tree==0.3
intervaltree==3.0.2
ipaddress==1.0.18
ipykernel==4.2.1
ipyparallel==5.0.1
ipython==4.0.0
ipython-cluster-helper==0.5.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
isodate==0.5.4
itsdangerous==0.24
javabridge==1.0.14
jdcal==1.3
Jinja2==2.7.3
jsonpickle==0.7.1
jsonschema==2.6.0
junit-xml==1.7
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
kiwisolver==1.0.1
leidenalg==0.7.0
llvmlite==0.29.0.dev0+32.gc372da0.dirty
lockfile==0.12.2
logilab-common==0.62.0
-e git+https://github.com/epigen/looper.git@39301eacbbb818a88bae9913a9d1a11836808b52#egg=looper
louvain==0.6.1
lxml==4.2.1
MACS==1.4.2
MACS2==2.1.1.20160309
mahotas==1.2.1
Mako==1.0.1
Markdown==2.2.0
MarkupSafe==0.18
matplotlib==2.1.2
mayavi==4.6.2
misopy==0.5.3
mistune==0.7.4
mock==2.0.0
mpi4py==1.3.1
mysql-connector-python-rf==2.2.2
MySQL-python==1.2.4b4
natsort==3.5.6
nbconvert==4.1.0
nbformat==4.4.0
ndg-httpsclient==0.5.0
netifaces==0.10.4
networkx==1.11
nfsometer==1.8
ngsutils==0.5.9
nibabel==2.1.0
nimfa==1.3.4
nipype==0.12.1
nitime==0.7
nltk==3.0.1
nose==1.3.7
notebook==4.0.6
NucleoATAC==0.3.4
numba==0.40.1
numexpr==2.6.2
numpy==1.14.6
numpydoc==0.8.0
oligotyping==2.0
openpyxl==2.4.0
ordereddict==1.1
packaging==16.8
pandas==0.23.4
paramiko==2.2.1
-e git+https://github.com/LabAdvComp/parcel.git@8cf5fe9922f3f3f1f9930c47783fc18c512d6b6a#egg=parcel
path.py==8.1.2
pathlib==1.0.1
pathlib2==2.2.1
patsy==0.5.1
pbr==3.0.1
ped-parser==1.1.2
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
PICRUSt==1.0.0
PIL==1.1.7
Pillow==2.5.1
platform-python-lsf-api==1.0.1
plinkio==0.9.6
plotly==2.7.0
plotting==0.1.0
Pmw==2.0.0
progressbar==2.3
protobuf==3.3.0
prov==1.4.0
psutil==2.1.1
ptyprocess==0.5
py==1.5.3
py2bit==0.3.0
pyasn1==0.4.3
pybedtools==0.7.6
pyBigWig==0.3.11
pycairo==1.14.0
pycparser==2.12
pydicom==0.9.9
pyface==6.0.0
pyflakes==0.8.1
Pygments==2.2.0
pygsl==0.9.5
pylint==1.2.1
pymol==1.4.0
pymorph==0.96
PyNaCl==1.1.2
pynast==1.2.2
pyopencl==2015.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
PyPDF2==1.26.0
pypez==0.1.5
-e git+https://github.com/epigen/pypiper.git@7caca7dab9f4c73f1b59c0676cbe2038c869548b#egg=pypiper
pyqi==0.3.1
pysam==0.15.0
pysftp==0.2.9
pysqlite==2.8.3
pytabix==0.1
pytest==2.7.2
pytest-cov==2.5.1
python-bioformats==1.0.9
python-dateutil==2.7.3
python-igraph==0.7.1.post6
python-Levenshtein==0.12.0
python-louvain==0.11
pytools==2015.1.2
pytz==2018.7
PyVCF==0.6.8
PyYAML==3.12
pyzmq==15.1.0
qcli==0.1.1
qiime==1.8.0
qiime-default-reference==0.1.3
qtconsole==4.1.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
regex==2019.1.24
reportlab==3.1.8
requests==2.7.0
rope==0.10.2
rpy2==2.8.5
RSeQC==2.6.4
rson==0.9
ruamel.ordereddict==0.4.9
ruamel.yaml==0.15.7
scandir==1.5
schema-salad==2.5.20170328195758
scikit-bio==0.2.3
scikit-image==0.12.3
scikit-learn==0.17
scipy==0.19.0
seaborn==0.8.1
sexpdata==0.0.3
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smartypants==1.8.6
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
spp-idr==0.0.1
SQLAlchemy==0.9.4
statsmodels==0.10.0
structural-dhcp-mriqc==0.8.4a2
structural-dhcp-svg2rlg==0.3
subprocess32==3.5.2
suds==0.4
synapseclient==1.2
tabulate==0.8.2
Tenjin==1.1.1
termcolor==1.1.0
terminado==0.5
Theano==0.8.2
toil==3.8.0
toolz==0.8.0
tornado==4.4.2
traitlets==4.3.2
traits==4.6.0
traitsui==6.0.0
typing==3.5.3.0
umap-learn==0.3.6
Unidecode==0.4.21
urllib3==1.21.1
VCF-kit==0.1.6
vcf-parser==1.0
virtualenv==13.0.3
vsc-base==2.8.3
vsc-install==0.11.2
vtk==8.1.0
weblogo==3.3
websockify==0.8.0
Werkzeug==0.12.2
wxPython-common==3.0.2.0
xbob.sox==1.1.0
xlrd==1.0.0
XlsxWriter==1.2.9
xopen==0.2.1
xvfbwrapper==0.2.8
yahmm==1.1.2
zc.buildout==2.2.1
